/* RESET BROWSERSTYLE */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,hr,blockquote {padding: 0; margin: 0;}

/* GLOBAL */
h1, h2, h3 {font-family: verdana, sans-serif; color: #333; font-size: 20px; line-height: 1.2em; font-weight: 400; letter-spacing: 1px; padding: 0 0 6px 0; margin: 10px 0 10px 0;}
h4 {font-family: verdana, sans-serif; color: #333; font-size: 18px; line-height: 1.4em; font-weight: 400; letter-spacing: 1px; margin: 15px 0 10px 0;}
h5 {font-family: verdana, sans-serif; color: #333; font-size: 17px; line-height: 1.4em; font-weight: 400; letter-spacing: 1px; margin: 15px 0 10px 0;}
h6 {font-family: verdana, sans-serif; color: #333; font-size: 16px; line-height: 1.4em; font-weight: 400; letter-spacing: 1px; margin: 15px 0 10px 0;}
p {margin: 10px 0;}
ol {margin: 6px 0;}
ol li {line-height: 1.0em; border: 0; padding: 3px 0; margin: 0 0 0 22px;}
ul {list-style-image: url(images/inhlist.gif); margin: 6px 0;}
ul li {line-height: 1.2em; border: 0; padding: 3px 0; margin: 0 0 0 17px;}
hr {height: 1px; clear: both; color: #999; background-color: #999; border: 0; margin: 16px 0;}
blockquote {padding: 2px 0 2px 20px; border-left: 3px solid #999;}

/* 
##############################
           B O D Y
##############################
*/

/* BODY UND SEITE / BODY AND PAGE */
body {min-width: 760px; font-family: arial, sans-serif; font-size: 14px; line-height: 1.3em; color: #444;}
#body {background: #e9e9e3; text-align: left;}
#top {font-size: 10px; line-height: 10px;}


/* 
##############################
        L A Y O U T
##############################
*/

table#tplge_main {width: 100%; border-collapse: collapse;}
td#tplge_main_nav {width: 250px; max-width: 250px; vertical-align: top;}
td#tplge_main_cont { vertical-align: top;}

#tplge_header {background: #333; padding: 0; margin: 0; border-bottom: 5px solid #999;}
#tplge_locator {min-width: 900px; text-align: left;}
#tplge_sidebar1 {}
#tplge_content {min-width: 90%;}
#tplge_footer {clear: both;}
#tplge_notes {}


/* 
##############################
        D E S I G N
############################## 
*/

/* BREADCRUMB-NAVIGATION (LOCATOR) */
#tplge_locatorin {font-family: arial, sans-serif; font-size: 15px; text-align: left; color: #333; border-bottom: 1px solid #999; padding: 6px 0; margin: 12px 20px 0 20px;}


/* SIDEBAR NAVIGATION */
#tplge_sidebar1in {font-family: arial, sans-serif; border-right: 0px solid #999; padding: 10px 10px 20px 20px;}

#tplge_sidebar1 li {list-style-type: none; list-style-image: none;}

#tplge_sidebar1 ul.menulevel1 {color: #c60; border: 0; padding: 0; margin: 0 10px 0 0;}
#tplge_sidebar1 ul.menulevel1 li {font-size: 15px; line-height: 1.2em; text-align: left; font-weight: 700; border-bottom: 1px solid #999; padding: 12px 0 4px 0; margin: 0;}

#tplge_sidebar1 ul ul.menulevel2 {border: 0; padding: 8px 0 4px 0; margin: 0;}
#tplge_sidebar1 ul ul.menulevel2 li {font-size: 15px; line-height: 1.2em; font-weight: 400; text-align: left; border: 0; padding: 4px 0 5px 1px; margin: 0;}

#tplge_sidebar1 ul ul ul.menulevel3 {margin: 5px 0 0 0;}
#tplge_sidebar1 ul ul ul.menulevel3 li {line-height: 1.2em; font-size: 14px; text-align: left; border: 0; padding: 6px 0 1px 16px; margin: 0;}


.langmenu {color: #333; margin: 0 0 16px 0;}
#tplge_sidebar1 ul.subnav {list-style-type: none; text-align: left; padding: 36px 10px 10px 0; margin: 0;}
#tplge_sidebar1 ul.subnav li {font-size: 14px; padding: 3px 0 3px 0; margin: 0;}
div.subnav {text-align: left; padding: 26px 20px 0 6px; margin: 0;}
p.lastupdate {font-size: 14px; color: #333; padding: 0 10px 0 10px;}
.tplge_visitors {font-size: 14px; line-height: 1.4em; color: #666; border-top: 1px solid #999; padding: 16px 0 0 4px;  margin: 0 20px 0 0;}

#tplge_sidebar1 a:link {color: #222; font-style: normal;}
#tplge_sidebar1 a:visited {color: #222; font-style: normal;}
#tplge_sidebar1 a:hover {color: #c60; font-style: normal; text-decoration: none;}
#tplge_sidebar1 a:active {color: #c60; font-style: normal; text-decoration: none;}
#tplge_sidebar1 a:focus {color: #c60; font-style: normal; text-decoration: none;}


/* INHALT / CONTENT */
#tplge_contentin {font-family: arial, sans-serif; font-size: 14px; text-align: left; padding: 0 20px 20px 0; margin: 0 0 10px 0;}
#tplge_contentin li {background: none;}
#tplge_contentin h1, #contentin h2, #contentin h3 {}
#tplge_content .text {width: 90%; border: 1px solid #ccc;}


/* FUSSNAVIGATION / FOOTER NAVIGATION */
#tplge_footerin {text-align: center; border-top: 0px solid #999; padding: 8px 0 0 0; margin: 30px 0 0 0;}


/* FUSSLINKS / FOOTER LINKS */
#tplge_notesin {font-family: arial, sans-serif; font-size: 14px; text-align: right; padding: 16px 40px 200px 40px; margin: 0;}
div#tplge_notes p {padding: 0; margin: 0;}


/* LINKFORMATIERUNG / LINKS */
a:link {color: #369; text-decoration: none;}
a:visited {color: #369; text-decoration: none;}
a:hover {color: #c60; text-decoration: underline;}
a:active {color: #c60; text-decoration: underline;}
a:focus {color: #c60; text-decoration: underline;}


/* 
##############################
 S O N S T I G E S / R E S T
############################## 
*/

#submit {background: #c60; color: #fff; border: 0; padding: 1px 6px; margin: 1px;}
input.submit {background: #060; color: #fff; border: 1px solid #fff; padding: 2px 6px; margin: 1px;}
.text {border: 1px solid #999;}
#passwd {border: 1px solid #999;}
.file {border: 1px solid #999;}
.scroll {background: #eec; border: 1px solid #997; padding: 10px; overflow: scroll;}
table.edit {background: #eee; font-size: 14px; line-height: 1.2em; border: 1px solid #999; margin: 1px 0;}
table.edit td {border: 0; padding: 3px;}
textarea {width: 96%; background: #fff; font-family: arial, sans-serif; border: 1px solid #ccc; padding: 10px; margin: 0 0 10px 0;}